body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: 	cadetblue;
}
.container{
padding: 15px;
background-color: white;
display: inline-block;
box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
}
.buttons{
display: flex;
flex-wrap: wrap;
gap: 10px;
width: 260px;
}
.screen {
  height: 75px;
  background-color:silver;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
button{
  padding: 20px;
  border-radius: 10px;
  font-size: medium;
  border: solid;
  border-color: white;
}
.number{
  background-color:	aliceblue;
}
.operator{
  background-color:darkcyan;
}
.equal{
  background-color: darkcyan;
  padding: 10px 79px;
}
.clear{
  background-color:	slategrey;
  padding: 10px 79px;
}
